<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Contact | Emilia Cole</title>
</head>

<body>
  <header>
    <h1>About | Emilia Cole</h1>
    <nav>
      <ul>
      <li><a href="/">Home</a></li>

      <li><a href="/about">About</a></li>

      <li><a href="/music">Music</a></li>

      <li><a href="/contact">Contact</a></li>
    </ul>
    </nav>
    <nav>
      
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-spotify"></i>
      </a>
      <a href=""><i class="fab fa-apple"></i>
      </a>
      <a href=""><i class="fab fa-amazon"></i>
      </a>
      <a href=""><i class="fab fa-twitter"></i>
      </a>

    </nav>
  </header>
  <main>
    <h1>CONTACT //</h1>
    <section>
      <h3>WE ARE HERE</h3>
      </section>
      <section>
        <h3>CONTACT INFO</h3>
        <article>
          <h4>MANAGEMENT | Karen Blanche</h4>
          <p>
            <b>email: </b><a href="mailto:info@mysite.com"><b>email:</b> info@mysite.com</a>
          </p>
          <p>
            <a href="tel:+123-456-7890"><b>phone:</b> 123-456-7890</a>
          </p>
          </article>

        <article>
          <h4>BOOKING | Daniel Ku</h4>
          <p>
            <b>email: </b><a href="mailto:info@mysite.com"><b>email:</b> info@mysite.com</a>
          </p>
          <p>
            <a href="tel:+123-456-7890"><b>phone:</b> 123-456-7890</a>
          </p>

          <article>
            <h4>LABEL | Wix Records, Jake Coldham</h4>
            <p>
              <b>email: </b><a href="mailto:info@mysite.com"><b>email:</b> info@mysite.com</a>
            </p>
            <p>
              <a href="tel:+123-456-7890"><b>phone:</b> 123-456-7890</a>
            </p>

            <article>
              <h4>PR | That Girl Pr, Sarah Brookstone</h4>
              <p>
                <b>email: </b><a href="mailto:info@mysite.com"><b>email:</b> info@mysite.com</a>
              </p>
              <p>
                <a href="tel:+123-456-7890"><b>phone:</b> 123-456-7890</a>
              </p>
      </section>
  </main>
</body>

</html>