header.horizontal{
    padding: 30px;
    margin: 30px;
}
header.horizontal nav ul li{
    display: inline;
}

header.horizontal nav{
    text-align: right;
}

header.horizontal nav.menu{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

header.horizontal nav.redes{
    margin-top: 10px;
}

